<style>
	.home-panel .panel-body {
		padding: 0px;
	}
	.panel-heading>h3 {
		margin-top: 10px;
	}
	.home-panel .list-group-item {
		border-left: 5px solid #999;
	}
</style>

<div class="row homeRow">
	<div class="col-sm-4">
		<div class="home-panel panel panel-default">
	  		<div class="panel-heading">
    			<h3>Notifications</h3>
			</div>
			<div class="panel-body">
		    		<div ng-repeat-start="notification in notifications" class="noteBox returnedBlue" ng-if="notification.type == 'returned'">
						<span class="onp-sl-long"><i>{{ $misc.fromID($misc.fromID(notification.submission, submissions).form, forms).name }}</i> was returned for editing</span>
					</div>
					<div class="noteBox acceptedGreen" ng-if="notification.type == 'accepted'">
						<span class="onp-sl-long"><i>{{ $misc.fromID($misc.fromID(notification.submission, submissions).form, forms).name }}</i> was accepted</span>
					</div>
					<div class="noteBox declinedRed" ng-if="notification.type == 'declined'">
						<span class="onp-sl-long"><i>{{ $misc.fromID($misc.fromID(notification.submission, submissions).form, forms).name }}</i> was declined</span>
					</div>
					<div ng-repeat-end class="noteBox pending" ng-if="notification.type == 'comment'">
						<span class="onp-sl-long">A manager left a comment on <i>{{ $misc.fromID($misc.fromID(notification.submission, submissions).form, forms).name }}</i></span>
					</div>
			</div>
	  	</div>

	</div>

	<div class="col-sm-4">
		<div class="home-panel panel panel-default">
	  		<div class="panel-heading">
    			<h3>Forms</h3>
			</div>
	  		<div class="panel-body">
	    		<div class="noteBox red" ng-repeat="form in forms" go-click="form/fill/{{ form._id }}">
					<span class="onp-sl-long">{{ form.name }}</span>
				</div>
			</div>
	  	</div>
	</div>


	<div class="col-sm-4">

		<div class="row">
			<div class="col-sm-12">
				<div class="home-panel panel panel-default">
					<div class="panel-heading">
						<h3>Incomplete Submissions</h3>
					</div>
					<div class="panel-body">
			  			<div ng-repeat="submission in submissions" go-click="submission/fill/{{submission._id}}" ng-if="submission.state == 'returned' || submission.state == 'saved'" class="noteBox red">
							<span class="onp-sl-long">{{ $misc.fromID(submission.form, forms).name }}: {{ submission.created | date:'d/M/yy h:mm a'}}</span>
						</div>
			  		</div>
				</div>
			</div>
	  	</div>

	  	<div class="row">
			<div class="col-sm-12">
				<div class="home-panel panel panel-default">
			  		<div class="panel-heading">
		    			<h3>Pending Submissions</h3>
					</div>
			  		<div class="panel-body">
			  			<div ng-repeat="submission in submissions" go-click="submission/view/{{submission._id}}" ng-if="submission.state == 'submitted'" class="noteBox red">
							<span class="onp-sl-long">{{ $misc.fromID(submission.form, forms).name }}: {{ submission.created | date:'d/M/yy h:mm a'}}</span>
						</div>
			  		</div>
			  	</div>
		  	</div>
	  	</div>

	  	<div class="row">
			<div class="col-sm-12">
				<div class="home-panel panel panel-default">
			  		<div class="panel-heading">
		    			<h3>Resolved Submissions</h3>
					</div>
			  		<div class="panel-body">
			  			<div ng-repeat="submission in submissions" go-click="submission/view/{{submission._id}}" ng-if="submission.state == 'accepted' || submission.state == 'declined'" class="noteBox red" ng-class="{acceptedGreen: submission.state == 'accepted', declinedRed: submission.state == 'declined'}">
							<span class="onp-sl-long">{{ $misc.fromID(submission.form, forms).name }}: {{ submission.created | date:'d/M/yy h:mm a'}}</span>
						</div>
			  		</div>
			  	</div>
		  	</div>
	  	</div>

	</div>
</div>