<style>
	.commentBox .submitted .panel-heading {
		background-color: #fbfbfb;
	}
	.commentBox .comment .panel-heading {
		background-color: #ececec;
	}
	.commentBox .comment_manager .panel-heading {
		background-color: #dadada;
	}
	.commentBox .accepted .panel-heading {
    	background-color: #deffcc;
	}
	.commentBox .declined .panel-heading {
		background-color: #fdccce;
	}
	.commentBox .returned .panel-heading {
		background-color: #d3eff7;
	}
	.commentBox h3 {
		text-align: center;
		margin-top: 10px;
	}
	.submissionBox .submitted .panel-heading {
		background-color: #fbfbfb;
	}
	.submissionBox .accepted .panel-heading {
    	background-color: #deffcc;
    	color: #3c763d;
	}
	.submissionBox .declined .panel-heading {
		background-color: #fdccce;
		color: #a94442;
	}
	.submissionBox .returned .panel-heading {
		background-color: #d3eff7;
		color: #31708f;
	}

</style>

<!--<div class ="row">
	<h2 class="text-center">Submission: {{ form.name }}</h2>
</div>-->

<div class="form-group">
	<div class="row" style="">
		<div class="col-sm-7 submissionBox">
			<div class="panel panel-default" ng-class="{submitted: submission.state == 'submitted' || submission.state == 'saved', accepted: submission.state == 'accepted', declined: submission.state == 'declined', returned: submission.state == 'returned'}">
				<div class="panel-heading text-center">
					<h4 ng-if="state == 'new'"><strong>New {{ form.name }} Submission</strong></h4>
					<h3>{{submission.state}}</h3>
				</div>
				<div class="panel-body">

					<form class="col-md-8 form-horizontal">
						<div ng-repeat="field in fields" class="form-group">
							<label class="col-sm-2 control-label">{{ field.name }}</label>
							<div class="col-sm-10">
								<input ng-if="field.type == 'text'" ng-model="valueByID(field._id).value" type="text" class="form-control" placeholder="{{ field.helper }}">
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		<div class="col-sm-5" ng-if="state == 'edit' || state == 'view'">
			<div class="panel-group commentBox">
  				<div class="panel panel-default">
    				<div class="panel-body" style="padding: 0;">
    					<div class="coolScroll" style="max-height:500px; overflow-y: scroll; padding: 15px;">
							<div ng-repeat="notification in notifications" class="panel panel-default" ng-class="{submitted: notification.type == 'submitted' || notification.type == 'saved', accepted: notification.type == 'accepted', declined: notification.type == 'declined', returned: notification.type == 'returned', comment_manager: notification.type == 'comment_manager', comment: notification.type == 'comment', reverted: notification.type == 'submitted'}">
								<div class="panel-heading">
									<strong><span account-card account="$misc.fromID(submission.account, accounts)"></span></strong> <span class="text-muted">Public 5 days ago</span>
								</div>
								<div class="panel-body">
									created submission
								</div>
							</div>

    					</div>
    				</div>
    				<div class="panel-footer" >
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Comment..">
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary">Manager</button>
								<button type="button" class="btn btn-default">Public</button>
							</div>
						</div>
					</div>
    			</div>	
  			</div>
		</div>
	</div>	
</div>
<div class="modal-footer">
	<div class="form-group">
		<div class="row">
			<div ng-if="state == 'edit' || state == 'view'" class="btn-group" role="group" aria-label="Basic example">
				<button ng-click="updateState('accepted');" type="button" class="btn btn-success">Accept</button>
				<button ng-click="updateState('declined');" type="button" class="btn btn btn-danger">Decline</button>
				<button ng-click="updateState('returned');" type="button" class="btn btn-info">Send Back</button>
			</div>
			<button ng-click="submitForm(true);" ng-if="state == 'edit' || state == 'new'" type="button" class="btn btn-default">Save</button>
			<button ng-click="submitForm(false);" ng-if="state == 'edit' || state == 'new'" type="button" class="btn btn-primary">Submit</button>
		</div>
	</div>
</div>